Repository w3c/rdf-semantics, pull requests merged in 2025-02, with the labels that each got.

#74 Update RDF-semantics with the liberal baseline RDF and RDFS semantics
  spec/index.html
Labels: spec:substantive

#75 Definition: Use 'ill-typed' and 'value space' from RDF Concepts
  spec/index.html
Labels: spec:editorial

#77 remove partial in description of L2V
  spec/index.html
Labels: spec:editorial

#64 Recognize rdf:dirLangString
  spec/index.html
Labels: spec:enhancement

#88 fixing `<p/>` occurrences
  spec/index.html
Labels: spec:editorial

#82 make technical uses of name refer to the definition
  spec/index.html
Labels: spec:editorial

#81 remove the only minor change comment in status
  spec/index.html
Labels: spec:editorial

#80 use correct name for sections in Concepts
  spec/index.html
Labels: spec:editorial

#93 Fixes some HTML markup issues.
  spec/index.html
Labels: spec:editorial

#89 add P&S sections pointing to Concepts
  spec/index.html
Labels: spec:editorial

#95 Fix links to RDF Concepts #dfn-dir-lang-string
  spec/index.html
Labels: spec:editorial

#79 move rdf1.1 change note boxes to change section in appendix
  spec/index.html
Labels: spec:editorial
